{% load static %}
{% providers_media_js %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body bgcolor="blue">
<!--<div class="login-page">-->
<!--  <form class="name">Welcome to Fundoo Application</form>-->
<!--  <div class="form">-->
<!--    <form class="login-form">-->
<!--      <p class="message"><a href="login"><h3>Login</h3></a></p>-->
<!--        -->
<!--      <p class="message"><a href="register"><u>Click here to Register!</u></a></p>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->
<!--<button><a href="#">Google Login</a></button>-->
<!--<button><a href="{% provider_login_url" facebook" method="oauth2" %}">Google Login</a></button>-->




</body>
<style>
.name{
margin: 0 auto 50px;
font-size: 250%;
  text-align: center;
}
.login-page {
  padding: 15% 0 0;
}
.form {
  position: relative;
  font-size: 25;
  background: skyblue;
  max-width: 450px;
  margin: 15px auto 50px;
  padding:5px;
  text-align: center;
}
.form .message a
{
  color: black;
  font-size: 15;
}
</style>