{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body >
<div class="login-page">
  <form class="name"> Click on to Below link to move to Swagger </form>
  <div class="form">
    <form class="login-form">
      <p class="message"><a href="login"><h3>Login</h3></a></p>
      <p class="message"><a href="register"><u>Click here to Register!</u></a></p>
    </form>
  </div>
</div>
<button><a href="{% url 'github' %}">Github Login</a></button>
<button><a href="{% url 'github' %}">Facebook Login</a></button>




</body>
<style>
</style>