{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body >
<div class="login-page">
  <div class="form">
    <form class="login-form">
      <p class="message"><a href="login"><h3>Login</h3></a></p>
      <p class="message"><a href="register"><u>Click here to Register!</u></a></p>
    </form>
  </div>
</div>
<button><a href="{% url 'github' %}">Github Login</a></button>
<button><a href="{% url 'post' %}">Facebook Login</a></button>




</body>
<style>
     .form
  {
      font-weight: light;
      display: flex;
      justify-content: space-around;
      background-color: white;
      align-items: center;
      padding-top: 100px;
      padding-bottom: 100px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
</style>