<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
    <form class="reg" action="register" method="post">
        {% csrf_token %}
        <label>Usename  :</label><input type="text" name="username" placeholder="username"><br><br>
        <label>E-mail   :</label><input type="email" name="email" placeholder="email"><br><br>
        <label>Password :</label><input type="password" name="password1" placeholder="password"><br><br>
        <label>Re-Enter :</label><input type="password" name="password2" placeholder="confirm password"><br><br><br>
        <input type="Submit">
    </form>
    <div class="alert">
        {% for message in messages %}
            <h3>{{message}}</h3>
        {% endfor %}
    </div>
</body>
</html>