

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reminder Notification</title>
</head>
<style>
    .container{
    align:center;
    background-color: white;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    }

</style>
<body>
    <div class="container" style="margin-top:30px ">
        <div  align="center">
            <div >
                  <h2>Reminder Notification From Fundoo</h2><br>
                  <p>You have created a note with the username: {{ user }}.  </p>
                <br>
            </div>
            <div align="center">
                <small style="font-size: x-small;">You have received this email because the user {{ user }} has set reminder on the note. </small><br />
            </div>
            <hr>
            <div  align="center">
    <pre>
     With Best Regards:
    Team <strong>FunDoo</strong>
  Contact: +91-9902092790
    </pre>
            </div>
            <hr>
        </div>
    </div>
</body>
</html>

