<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>resetmail</title>
</head>
<body>
<form class="reset" action="" method="post">
    {% csrf_token %}
    <div>
        <label>Enter registered email id</label><br><br>
        <label>Email_id:</label><input type="email" name="email" placeholder="registered Email id">
        <br><br>
        <input type="submit">
     </div>
</form>
<style>
    .reset
    {
      position: relative;
      margin-top: 300px;
      background: skyblue;
      max-width: 450px;
      margin: 210px auto 50px;
      padding:20px;
      text-align: center;
    }
    .alert
    {
      padding:5px;
      text-align: center;
    }
</style>
<div class="alert">
    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}
</div>
</body>
</html>