<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>resetpassword</title>
</head>
<body>
<form class="reg" action="" method="post">
    {% csrf_token %}
    <label>Password:</label><input type="password" name="password1" placeholder="password" required><br><br>
    <label>Re-enter password:</label><input type="password" name="password2" placeholder="re-enter password" required>
    <input type="submit">
</form>
<style>

</style>
<div class="aim">
    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}
</div>
</body>
</html>