<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>resetmail</title>
</head>
<body>
    <form class="reset" action="" method="post">
        {% csrf_token %}
        <div>
            <label>Enter registered email id</label><br><br>
            <label>Email_id:</label><input type="email" name="email" placeholder="registered Email id">
            <br><br>
            <input type="submit">
         </div>
    </form>
    <div class="alert">
        {% for message in messages %}
            <h3>{{message}}</h3>
        {% endfor %}
    </div>
</body>
</html>