<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Share </title>
    welcome {{request.user}}
</head>
<body>
    <p> Do you want share data?</p>
    Click on the below link<br />
    <ol>
        <li> <button>  <a href="https://www.facebook.com/sharer/sharer.php?u=http://infobeginner.in"> Share on Facebook </a> <</button></li> <br />
        <li> <button>  <a href='https://plus.google.com/share?url=http://infobeginner.in'> Share on Google+ </a> </button></li> <br />
<!--    <li> <button>  <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://swiftforentrepreneurs.com/&title=Be%20first%20%7C%20Join%20Swift%20for%20Entrepreneurs&summary=Swift%20for%20Entrepreneurs%20is%20a%20project-based%20programming%20course%20for%20non-technical%20founders.%20We'll%20learn%20how%20to%20build%20iOS%20apps%20from%20scratch%20using%20Apple's%20new%20programming%20language:%20Swift.%20Be%20first%20and%20learn%20with%20me!&source=http://infobeginner.in"> Share on Linkedin </a> </button> </li><br />-->
<!--    <li> <button>  <a href="http://www.reddit.com/submit?url=http://swiftforentrepreneurs.com/&title=Unlock%20to%20Learn%20Swift%20for%20Free!%20By%20Swift%20for%20Entrepreneurs.%20Made%20for%20Non%20Techincals."> Share on Reddit </a> </button> </li><br/>-->
    </ol>
</body>
</html>