<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <title>Fundoo</title>
  <style>
  footer
  {
        background-color: green;
        color: white;
        font-size: 18px;
   }
  .container
  {
      font-weight: light;
      display: flex;
      justify-content: space-around;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
  </style>
</head>
<body>
  {% autoescape off %}
      <div class="text-center p-1 m-0" style="text-align:center;" >
                <hr>
                    <h1>Notification from Fundoo</h1>
                <hr>
          <br/><br/>
                <p>
                    Hi <strong>{{ user }}</strong>,<br /><br/>
                    Are you sure, really want to <b>reset your password ?</b> <br/>
                    If <b>not</b> please <b>ignore</b> this Email.<br />
                </p>
                <p>
                    Please click on the <strong> button </strong> to <strong> Reset Password </strong><br /><br />
                    <button style="text-align:center;" >
                        <a href="{{ domain }}{%  url 'verify' token=token %}" style="text-decoration: none;"> <i>Reset</i> </a>
                    </button><br/>
                </p>
<hr>
<pre>
    With Best Regards:
  Team <strong>Fundoo</strong>
   Contact: +91-9902092790
</pre>
<hr>
      </div>
  {% endautoescape %}
  <br />
  <footer class="mt-4 p-2">
      <p class="text-center p-1 m-0" style="text-align:center;"> &copy; My Fundoo Application 2019 </p>
  </footer>
    <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>